@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Barlow Italic'), local('Barlow-Italic'),
       url('fonts/Barlow-Italic.woff2') format('woff2'),
       url('fonts/Barlow-Italic.woff') format('woff');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Barlow'), local('Barlow-Regular'),
       url('fonts/Barlow-Regular.woff2') format('woff2'),
       url('fonts/Barlow-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Barlow Light'), local('Barlow-Light'),
       url('fonts/Barlow-Light.woff2') format('woff2'),
       url('fonts/Barlow-Light.woff') format('woff');
}
@font-face {
  font-family: 'Barlow Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Barlow Bold'), local('Barlow-Bold'),
       url('fonts/Barlow-Bold.woff2') format('woff2'),
       url('fonts/Barlow-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Techna Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-feature-settings: 'ss01';
  src: local('Techna Sans'), local('TechnaSans-Regular'),
       url('fonts/TechnaSans-Regular.woff2') format('woff2'),
       url('fonts/TechnaSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Space Mono'), local('SpaceMono-Regular'),
       url('fonts/SpaceMono-Regular.woff2') format('woff2'),
       url('fonts/SpaceMono-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Space Mono Bold'), local('SpaceMono-Bold'),
       url('fonts/SpaceMono-Bold.woff2') format('woff2'),
       url('fonts/SpaceMono-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Space Mono';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Space Mono Italic'), local('SpaceMono-Italic'),
       url('fonts/SpaceMono-Italic.woff2') format('woff2'),
       url('fonts/SpaceMono-Italic.woff') format('woff');
}

body {
  font-family: 'Barlow', sans-serif;
}

p {
  font-weight: 300;
}

strong, b {
  font-family: 'Barlow Bold', 'Barlow', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Techna Sans', sans-serif;
}

code, code b, div.LINK {
  font-family: 'Space Mono', monospace !important;
}
