/* You can override SASS variables here. */

// Colours
$body-background: #1c1e26;
$pre-background: #232530;
$body-font-color: #e9ecef;
$color-nav-active: #f09383;
$color-link: #b877db;
$color-emph: #c95073;
$color-visited-link: #b877db;

$gray-100: rgba(255, 255, 255, 0.1);
$gray-200: rgba(255, 255, 255, 0.2);
$icon-filter: brightness(0) invert(1);

// Layout
$body-max-width: 45rem;
$toc-width: 14rem;
$padding-figure: 2rem;
